body {
    text-align: center;
    background-color: lightcyan;
}

h2 {
    font-weight: lighter;

}

.cell{
    background-color: darkgray;
    content-visibility: hidden;
    color: mediumvioletred;
    text-align: center;


}

.board-container {
    margin: auto;


}

td {
    height: 30px;
    width: 30px;
    /* background-color: rgb(223, 24, 24) */
    
}
.button {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    font-size: x-large;
}